{{include_file name='public/header' title='成员管理'}}

</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    {{include_file name='public/nav' sidebar='user_sidebar'}}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">成员管理</h1>
                <div class="search">
                    <form class="well form-search" action="/project/index" method="get">
      						<span class="control-group search-group">
                                <label>项目名称：</label>
                                <label>
                                    <input name="search_filter[title]" class="form-control" value="" placeholder="支持模糊匹配">
                                </label>
                                <span class="Validform_checktip"></span>
                            </span>

                        <span class="control-group search-group">
                                 <label>创建人</label>
                                 <label>
                                     <input name="search_filter[nick_name]" class="form-control" value="" placeholder="支持模糊匹配">

                                 </label>
                             </span>

                        <span class="control-group search-group">
                                 <label>
                                     <button type="submit" class="btn btn-primary">搜索</button>
                                 </label>
                             </span>

                    </form></div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">

                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>用户昵称</th>
                                    <th>登录账号</th>
                                    <th>注册渠道</th>
                                    <th>创建项目</th>
                                    <th>参与项目</th>
<!--                                    <th>注册IP</th>-->
                                    <th>注册地点</th>
                                    <th>注册时间</th>

                                    <th>操作面板</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{if $users}}
                                {{foreach $users as $user}}
                                {{$user_id = $user.id}}
                                <tr>
                                    <td >{{$user.name}}</td>
                                    <td >{{$user.email}}</td>
                                    <td >{{$user.method}}</td>
                                    <td ><a href="{{url("project/created")}}?user_id={{$user_id}}" data-toggle="tooltip" title="点击查看具体创建项目">1</a></td>
                                    <td ><a href="{{url("project/joined")}}?user_id={{$user_id}}" data-toggle="tooltip" title="点击查看具体参与项目">5</a></td>
<!--                                    <td >{{$user.ip}}</td>-->
                                    <td >{{$user.address}}</td>
                                    <td >{{$user.add_time}}</td>
                                    <td >

                                        <a type="button" class="btn btn-danger btn-xs js_deleteProjectBtn" data-project_id="{{$project.id}}">删除用户</a>

                                        <a type="button" class="btn btn-success btn-xs js_joinProjectBtn" data-project_id="{{$project.id}}">重置密码</a>

                                    </td>
                                </tr>
                                {{/foreach}}
                                {{/if}}

                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <div class="col-sm-12">
                <div class="dataTables_paginate paging_simple_numbers" id="dataTables-example_paginate">
                    <ul class="pagination">
                        <li class=""><a aria-label="Previous"><span aria-hidden="true">共2页</span></a></li>
                        <li class="paginate_button " aria-controls="dataTables-example"  >
                            <a href=" javascript:void(0);">首页</a>
                        </li>
                        <li class="paginate_button previous " aria-controls="dataTables-example" tabindex="0" id="dataTables-example_previous">
                            <a href=" javascript:void(0);">上一页</a>
                        </li>
                        <li class="paginate_button active" >
                            <a href="/home/project/index/p/1">1</a>
                        </li>
                        <li class="paginate_button " >
                            <a href="/home/project/index/p/2">1</a>
                        </li>


                        <li class="paginate_button next" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_next">
                            <a href=" /home/project/index/p/2 ">下一页</a>
                        </li>
                        <li class="paginate_button " aria-controls="dataTables-example" tabindex="0" id="dataTables-example_next">
                            <a href=" /home/project/index/p/2 ">末页</a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- /.col-lg-6 -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->


    {{include_file name='public/footer'}}
